.u-section-1 .u-sheet-1 {
  min-height: 883px;
}

.u-section-1 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 91px 75px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 237px;
  height: 237px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -259px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 930px;
  height: 603px;
  margin: -161px auto 0 44px;
}

.u-section-1 .u-group-1 {
  width: 785px;
  min-height: 182px;
  height: auto;
  margin: -38px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 40px;
  padding-right: 40px;
}

.u-section-1 .u-text-1 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 10px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 467px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 204px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 350px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 220px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 576px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  width: 803px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 605px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 70px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 535px;
  pointer-events: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 25px 0 0;
}

.u-section-3 .u-shape-1 {
  width: 295px;
  height: 497px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-image-1 {
  height: 403px;
  margin-top: -390px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 535px;
  pointer-events: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-3 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 15px 46px 15px 45px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-3 .u-shape-1 {
    height: 462px;
  }

  .u-section-3 .u-image-1 {
    height: 332px;
    margin-top: -332px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 441px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 592px;
    order: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-shape-1 {
    height: 492px;
    margin-top: 75px;
  }

  .u-section-3 .u-image-1 {
    height: 492px;
    margin-top: -492px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 27px;
    margin-right: 115px;
    margin-left: 130px;
  }

  .u-section-3 .u-image-1 {
    height: 404px;
    margin-top: -404px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 393px;
  }

  .u-section-3 .u-shape-1 {
    width: 238px;
    height: 339px;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    height: 254px;
    margin-top: -254px;
  }
}