.u-section-1 .u-sheet-1 {
  min-height: 599px;
}

.u-section-1 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  width: 320px;
  height: 300px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 30px auto 40px 0;
}