 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 500px;
  margin: 150px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  margin: 50px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 35px 0 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 794px;
    margin-bottom: 80px;
    position: relative;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 671px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-1 .u-group-1 {
    min-height: 429px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-group-1 {
    min-height: 318px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 313px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: -112px;
  margin-bottom: -92px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 365px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 89px;
  width: 89px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 89px;
  width: 89px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 89px;
  width: 89px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 89px;
  width: 89px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 11px;
    height: auto;
  }

  .u-section-2 .u-list-item-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
  }

  .u-section-2 .u-list-item-3 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
  }

  .u-section-2 .u-list-item-4 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -280px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 700px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 90px auto 90px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 771px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 514px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 14px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 257px;
  background-image: none;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-1 {
  height: 41px;
  width: 41px;
  margin: 0 auto 0 0;
  padding: 19px;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 257px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-3 .u-icon-2 {
  height: 41px;
  width: 41px;
  margin: 0 auto 0 0;
  padding: 19px;
}

.u-section-3 .u-text-6 {
  margin: 0;
}

.u-section-3 .u-text-7 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 636px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    background-position: 11.25% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 974px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 731px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 460px;
  }
} .u-section-4 {
  min-height: 328px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 345px;
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 345px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-4 .u-text-1 {
  margin: 35px 20px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 14px 20px 0 0;
}

.u-section-4 .u-link-1 {
  margin: 30px auto 35px 0;
}

.u-section-4 .u-image-2 {
  min-height: 345px;
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 345px;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 20px;
}

.u-section-4 .u-text-3 {
  margin: 35px 20px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 14px 20px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 20px 0 0;
}

.u-section-4 .u-link-2 {
  margin: 30px auto 35px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-4 .u-link-1 {
    position: relative;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-4 .u-text-5 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-4 .u-link-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 9px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 6px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 540px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 540px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  margin: 55px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-5 .u-text-3 {
  font-style: italic;
  line-height: 2;
  margin: 15px 0 55px;
}

.u-section-5 .u-image-1 {
  min-height: 540px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 508px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-5 .u-text-3 {
    margin-bottom: 50px;
  }

  .u-section-5 .u-image-1 {
    min-height: 367px;
  }
} .u-section-6 {
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 888px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 42px auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 193px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 15px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 357px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-6 .u-icon-1 {
  height: 41px;
  width: 41px;
  margin: 25px auto 0 0;
  padding: 19px;
}

.u-section-6 .u-text-3 {
  margin: 0 41px 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 357px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-6 .u-icon-2 {
  height: 41px;
  width: 41px;
  margin: 25px auto 0 0;
  padding: 19px;
}

.u-section-6 .u-text-5 {
  margin: 0 41px 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 11px 0 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 307px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-3 {
  height: 41px;
  width: 41px;
  margin: 25px auto 0 20px;
  padding: 19px;
}

.u-section-6 .u-text-7 {
  margin: 0 20px;
}

.u-section-6 .u-text-8 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 1px 0 20px;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 307px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-4 {
  height: 41px;
  width: 41px;
  margin: 25px auto 0 20px;
  padding: 19px;
}

.u-section-6 .u-text-9 {
  margin: 0 20px;
}

.u-section-6 .u-text-10 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 1px 0 20px;
}

.u-section-6 .u-image-1 {
  min-height: 650px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
  }

  .u-section-6 .u-text-2 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 242px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-icon-1 {
    height: 34px;
    width: 34px;
    position: relative;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-right: 32px;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    margin-right: 32px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 242px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-icon-2 {
    height: 34px;
    width: 34px;
    position: relative;
  }

  .u-section-6 .u-text-5 {
    position: relative;
    margin-right: 32px;
  }

  .u-section-6 .u-text-6 {
    position: relative;
    margin-right: 32px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 242px;
  }

  .u-section-6 .u-icon-3 {
    height: 34px;
    width: 34px;
    position: relative;
    margin-left: 16px;
  }

  .u-section-6 .u-text-7 {
    position: relative;
    margin-right: 12px;
    margin-left: 16px;
  }

  .u-section-6 .u-text-8 {
    position: relative;
    margin-right: 12px;
    margin-left: 16px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 242px;
  }

  .u-section-6 .u-icon-4 {
    height: 34px;
    width: 34px;
    position: relative;
    margin-left: 16px;
  }

  .u-section-6 .u-text-9 {
    position: relative;
    margin-right: 12px;
    margin-left: 16px;
  }

  .u-section-6 .u-text-10 {
    position: relative;
    margin-right: 12px;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    background-position: 44.92% 50%;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 524px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-6 .u-icon-1 {
    height: 26px;
    width: 26px;
    margin-left: 20px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-6 .u-icon-2 {
    height: 26px;
    width: 26px;
    margin-left: 20px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-3 {
    height: 26px;
    width: 26px;
    margin-left: 13px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-4 {
    height: 26px;
    width: 26px;
    margin-left: 13px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    background-position: 36.25% 50%;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 6px;
  }

  .u-section-6 .u-icon-1 {
    height: 24px;
    width: 24px;
    margin-left: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-right: -2px;
    margin-left: 20px;
  }

  .u-section-6 .u-text-4 {
    margin-right: -2px;
    margin-left: 20px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 6px;
  }

  .u-section-6 .u-icon-2 {
    height: 24px;
    width: 24px;
    margin-left: 9px;
  }

  .u-section-6 .u-text-5 {
    margin-right: -2px;
    margin-left: 20px;
  }

  .u-section-6 .u-text-6 {
    margin-right: -2px;
    margin-left: 20px;
  }

  .u-section-6 .u-icon-3 {
    height: 24px;
    width: 24px;
    margin-left: 9px;
  }

  .u-section-6 .u-text-7 {
    margin-right: -2px;
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    margin-right: -2px;
    margin-left: 0;
  }

  .u-section-6 .u-icon-4 {
    height: 24px;
    width: 24px;
    margin-left: 9px;
  }

  .u-section-6 .u-text-9 {
    margin-right: -2px;
    margin-left: 0;
  }

  .u-section-6 .u-text-10 {
    margin-right: -2px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 4px;
  }

  .u-section-6 .u-icon-1 {
    height: 20px;
    width: 20px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 4px;
  }

  .u-section-6 .u-icon-2 {
    height: 20px;
    width: 20px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-icon-3 {
    height: 20px;
    width: 20px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-icon-4 {
    height: 20px;
    width: 20px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 791px;
}

.u-section-7 .u-group-1 {
  width: 800px;
  min-height: 373px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 168px auto 60px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-7 .u-text-1 {
  margin: 40px 60px 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-7 .u-group-1 {
    width: 659px;
    position: relative;
    height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-left: 49px;
    margin-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 0;
  }

  .u-section-7 .u-text-1 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 28px;
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}