 .u-section-1 {
  background-image: url("images/ww.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  min-height: 691px;
  background-image: url("images/IMG_6836.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 691px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px 30px 25px;
}

.u-section-1 .u-group-1 {
  min-height: 116px;
  background-image: none;
  width: 360px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 69px 173px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.2;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 39px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.25rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 23px auto 0 0;
  padding: 10px 57px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    min-height: 570px;
    background-position: 66.88% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 15px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 66px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.625rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 770px;
    margin-left: -50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 451px;
    background-position: 56.04% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 845px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-group-1 {
    min-height: 131px;
    width: 293px;
    margin-top: 66px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.75rem;
    margin-top: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 655px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 479px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 674px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 614px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 20px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 614px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-2 {
  padding: 160px 20px 26px;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 20px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 614px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 20px;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 506px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 140px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 506px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 606px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 760px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 268px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 40px 20px;
}

.u-section-3 .u-line-1 {
  width: 41px;
  transform-origin: left center 0px;
  height: 8px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  text-align: left;
  margin: 12px auto 0 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  text-align: left;
  margin: 18px 0 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 40px 20px;
}

.u-section-3 .u-line-2 {
  width: 41px;
  transform-origin: left center 0px;
  height: 8px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  text-align: left;
  margin: 12px auto 0 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  text-align: left;
  margin: 18px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 40px 20px;
}

.u-section-3 .u-line-3 {
  width: 41px;
  transform-origin: left center 0px;
  height: 8px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  text-align: left;
  margin: 12px auto 0 0;
}

.u-section-3 .u-text-8 {
  font-style: italic;
  text-align: left;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 221px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 508px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 679px;
}

.u-section-4 .u-group-1 {
  width: 889px;
  min-height: 310px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 81px 30px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 30px 370px;
}

.u-section-4 .u-text-1 {
  margin-top: 28px;
  margin-bottom: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-text-3 {
  margin: 30px 60px 0 auto;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  margin-right: 10px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  margin: -26px 280px 0 auto;
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 499px;
  height: 499px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -241px auto 0 38px;
}

.u-section-4 .u-shape-1 {
  width: 228px;
  height: 228px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -228px 294px 30px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-4 .u-group-1 {
    width: 763px;
    min-height: 396px;
    margin-right: 0;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 244px;
  }

  .u-section-4 .u-image-1 {
    width: 484px;
    height: 484px;
    background-position: 50% 50%;
    margin-left: 0;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -78px;
    margin-right: 228px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-4 .u-group-1 {
    width: 577px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 40px 40px 130px 60px;
  }

  .u-section-4 .u-image-1 {
    width: 405px;
    height: 405px;
    margin-top: -93px;
  }

  .u-section-4 .u-shape-1 {
    width: 192px;
    height: 192px;
    margin-top: -87px;
    margin-right: 103px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-4 .u-group-1 {
    width: 466px;
    min-height: 466px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px 30px 100px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: auto;
    margin-left: 74px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -88px;
  }

  .u-section-4 .u-shape-1 {
    width: 148px;
    height: 148px;
    margin-top: -51px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-4 .u-group-1 {
    width: 309px;
    min-height: 442px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 57px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 43px;
    margin-right: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -52px;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    height: 285px;
    width: 285px;
    margin-top: -14px;
  }

  .u-section-4 .u-shape-1 {
    width: 127px;
    height: 127px;
    margin-top: -76px;
    margin-right: 22px;
    margin-bottom: 43px;
  }
} .u-section-5 {
  background-image: linear-gradient(to right, #eff3fa, #f1b5b8);
}

.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 483px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 38px 0 0 117px;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -396px auto 0 38px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-custom-html-2 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 577px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 105px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -449px;
    margin-left: 24px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 646px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 73px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -524px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 208px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 654px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 22px 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 46px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -617px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 312px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 312px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1195px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 23px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 941px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 79px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -936px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 258px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-top: 15px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 203px;
  }
}