<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  
  <appSettings>
    <add key="LOCAL.Kindred.Knect.ITAT.LexmarkImaging.ItatServices.Imaging" value="http://localhost/itat/services/imaging.asmx" />
    <add key="T1.Kindred.Knect.ITAT.LexmarkImaging.ItatServices.Imaging" value="http://enterprise.fsdsandbox.knect.com/itat/services/imaging.asmx" />
    <add key="STAGE.Kindred.Knect.ITAT.LexmarkImaging.ItatServices.Imaging" value="http://enterprise.qa.knect.com/itat/services/imaging.asmx" />
    <add key="PROD.Kindred.Knect.ITAT.LexmarkImaging.ItatServices.Imaging" value="http://enterprise.knect.com/itat/services/imaging.asmx" />
  </appSettings>

</configuration>