.u-section-1 .u-sheet-1 {
  min-height: 801px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 50px;
  height: auto;
  min-height: 751px;
  margin-top: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 607px;
  }
}