<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <add key="PROD.ApplicationWebServer" value="http://enterprise.knect.com/" />
    <add key="STAGE.ApplicationWebServer" value="http://enterprise.qa.knect.com/" />
    <add key="T1.ApplicationWebServer" value="http://enterprise.dev.knect.com/"/>
    <add key="LOCAL.ApplicationWebServer" value="http://localhost/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="LOCAL.Kindred.Knect.ITAT.Utility.KDMS.Service"   value="http://kdmsfs-t1.knect.com/KDMSFileSystem/service.asmx"/>
    <add key="T1.Kindred.Knect.ITAT.Utility.KDMS.Service"      value="http://kdmsfs-t1.knect.com/KDMSFileSystem/service.asmx"/>
    <add key="STAGE.Kindred.Knect.ITAT.Utility.KDMS.Service"   value="http://kdmsfs-qa.knect.com/KDMSFileSystem/service.asmx"/>
    <add key="PROD.Kindred.Knect.ITAT.Utility.KDMS.Service"    value="http://kdmsfs.knect.com/KDMSFileSystem/service.asmx"/>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>