<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="KindredLoggingAppender" />
	</root>

	<appender name="KindredLoggingAppender" type="Kindred.Common.Logging.Appender.KindredLoggingAppender" >
		<Application value="Kindred.Knect.ITAT"/>
		<BufferSize value="1"/>
	</appender>

	<appender name="ConsoleAppender" type="Kindred.Common.Logging.Appender.ConsoleAppender" >
		<layout type="Kindred.Common.Logging.Layout.PatternLayout">
			<param name="ConversionPattern" value="%E{MachineName} %A{Name} %d{t} [%t] %-5p %X{auth} - %m%n" 		/>
		</layout>
	</appender>
	
</log4net>