<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="KindredLoggingAppender" />
  </root>

  <appender name="KindredLoggingAppender" type="Kindred.Common.Logging.Appender.KindredLoggingAppender">
    <Application value="Kindred.Knect.ITAT.Services"/>
    <BufferSize value="1"/>
  </appender>

</log4net>
