body
{
    margin: 4px;
    padding: 0;
    border: 0;
    behavior: url(Scripts/csshover.htc); /* necessary to fix a bug in IE6: it does not honor the "hover" CSS selector */
}
.1stTblColor
{
    background-color: #b0c4de;
}
.2ndTblColor
{
    background-color: #fffbee;
}
A, A:visited
{
    color: #000080;
}
.NoBorder
{
    margin: 0;
    padding: 0;
    border: 0;
}
.NoScroll
{
    overflow: hidden;
}
.NoScrollY
{
    overflow-x: auto;
    overflow-y: hidden;
}
.AutoScroll
{
    overflow-x: auto;
    overflow-y: auto;
}
.DataGridFixedHeader
{
    background-color: #DCDCDC;
    position: relative;
    top: expression(this.offsetParent.scrollTop);
    z-index: 10;
}
.GridBodyPanel
{
    width: 100%;
    height: 1px;
    border: 0;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #DCDCDC;
    font-size: 10pt;
    font-family: Verdana;
}
form
{
    border: 0;
    border: 0;
    margin: 0;
    padding: 0;
}
fieldset
{
    border: 1px solid #000000;
}
legend
{
    font-size: xx-small;
    font-weight: normal;
    font-family: Verdana, Arial;
    color: #000000;
}
.PageTitle
{
    height: 24px;
    border: gold solid;
    border-width: 0 0 2px 0;
    font-weight: bold;
    font-size: 13pt;
    color: #191970;
    font-family: Verdana;
    vertical-align: top;
}
.header /* the header control: in TemplateHeader.ascx or ItemHeader.ascx  */
{
    margin: 0;
    padding: 0 0 6px 0;
    height: 32px;
    width: 100%;
    vertical-align: top;
}
.banner /* text banner -- left side of header control */
{
    position: relative;
    width: 100%;
    top: -3px;
    margin: 0;
    vertical-align: top;
    padding: 0;
    color: #000080;
    text-align: left;
    border-bottom: gold thin solid;
}
.banner SPAN
{
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 13pt;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.buttons /* container within the header control for command buttons */
{
    margin: 0;
    padding: 0;
    border: 0;
}
.menu /* container within the header control for the drop-down menu items */
{
    position: absolute;
    margin: 5px 5px 0 0;
    top: 0;
    left: auto;
    right: 3px;
    bottom: auto;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 1000;
    cursor: pointer;
    font-size: 10pt;
    font-family: Verdana;
    width: 1000px;
}
.menuGroup /* container within the menu items for one column of menu items */
{
    float: right;
    height: 18px;
    border: 1px solid #667;
    background-color: #DDE;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    z-index: 1000;
    cursor: pointer;
    font-size: 10pt;
    font-family: Verdana;
}
.menuGroup:hover /* the container within the menu items for one column of menu items, when it is hovered */
{
    background-color: #BABACA;
}
.menuArrow /* the down arrow on the top-level menu items */
{
    font-family: Webdings;
    font-size: small;
    margin: 0 0 3px 3px;
}
.menuHeader /* the top-level menu items */
{
    height: 16px;
    margin: 0;
    padding: 0;
    z-index: 1000;
    cursor: pointer;
    font-size: 10pt;
    font-family: Verdana;
}
/*
.menu IFRAME
{
	position: absolute;
	display: block;
	border: 0;
	padding: 0;
	margin: 0;
	top: 1px;
	left: 1px;
	height: 1px;
	width: 1px;
}
.menu:hover IFRAME
{
	position: absolute;
	display: block;
}
*/
.menuGroup:hover .menuLink /* the lowest level menu items, when the corresponding top-level menu item is hovered */
{
    display: block;
}
.menuLink /* the lowest menu items (links) */
{
    display: none;
    position: relative;
    margin: 2px 1px;
    padding: 0 4px 0 4px;
    background-color: #E0E0F0;
    text-decoration: none;
    text-align: left;
    z-index: 1000;
    cursor: pointer;
    font-size: 10pt;
    font-family: Verdana;
}
.menuLinkSeparator
{
    margin-bottom: 4px;
}
.menuLink:hover
{
    background-color: #CACADA;
}
.Emphasis
{
    color: #C00000;
    font-weight: bold;
}
.Error
{
    color: #800000;
    font-weight: bold;
}
.subTitle
{
    font-size: 10pt;
    font-family: Verdana;
    font-weight: normal;
    font-size: 9pt;
    color: #191970;
    white-space: normal;
}
.TemplateEditBody
{
    background-color: #b0c4de;
    border: #666 1px solid;
    margin: 0;
    padding: 1px;
    width: 100%;
}
.TermEditBody
{
    background-color: #b0c4de;
    border: #666 1px solid;
    margin: 0;
    padding: 1px;
    width: 100%;
    height:100%;
}
.GridTitle
{
    border: 0;
    font-size: 10pt;
    font-family: Verdana;
    font-weight: bold;
    font-size: 9pt;
    height: 1px;
    color: #191970;
    margin: 2px 16px 0 2px;
}
table.NetTable tr.NetRowSelected td a /*  LinkButton control in a selected row in a  KindredDataGrid or KindredGridView */
{
    color: #FFFFFF;
}
.DataEntryCaption
{
    font-size: xx-small;
    font-weight: normal;
    font-family: Verdana, Arial;
    visibility: visible;
    text-align: right;
    background-color: #b0c4de;
}
.DataEntryCaption INPUT, .DataEntryCaption TEXTAREA, .DataEntryCaption SELECT, .DataEntryCaption SPAN, .DataEntryEdit INPUT, .DataEntryEdit TEXTAREA, .DataEntryEdit SELECT, .DataEntryEdit SPAN, .DataEntryEdit LABEL
{
    font-size: xx-small;
    font-family: Verdana, Arial;
}

.DetailedDescription
{
    font-size: x-small;
    font-family: Verdana, Arial;
    vertical-align: top;
}

.DetailedDescriptionBold
{
    font-size: x-small;
    font-family: Verdana, Arial;
    vertical-align: top;
    font-weight: bold;
}

.ProfileCaption
{
    font-size: xx-small;
    font-weight: normal;
    font-family: Verdana, Arial;
    visibility: visible;
    text-align: right;
    background-color: #b0c4de;
    border: solid #666;
    border-width: 0 1px 1px 0;
    vertical-align: text-top;
    padding: 4px 3px 3px 3px;
}
.ProfileEdit
{
    background-color: #fffbee;
    font-size: xx-small;
    font-weight: normal;
    font-family: Verdana, Arial;
    text-align: left;
    border: solid #666;
    border-width: 0 0 1px 1px;
    vertical-align: text-top;
    padding: 1px 2px 1px 3px; /* white-space: nowrap;   @@@ RR - v1.4 - commented out to allow read only text on the profile page to wrap  */
}
.ProfileCaption INPUT, .ProfileCaption TEXTAREA, .ProfileCaption SELECT, .ProfileCaption SPAN, .ProfileEdit INPUT, .ProfileEdit TEXTAREA, .ProfileEdit SELECT, .ProfileEdit SPAN, .ProfileEditReadOnly INPUT, .ProfileEditReadOnly TEXTAREA, .ProfileEditReadOnly SELECT, .ProfileEditReadOnly SPAN, .TextBox, INPUT, SELECT, .FormCaption
{
    font-size: xx-small;
    font-family: verdana, arial;
}
.ProfileEdit LABEL
{
    font-size: xx-small;
    font-family: verdana, arial;
    position: relative;
    top: -3px;
}
.ProfileEditReadOnly
{
    background-color: #fffbee;
    font-size: xx-small;
    font-weight: normal;
    font-family: Verdana, Arial;
    text-align: left;
    border: solid #666;
    border-width: 0 0 1px 1px;
    vertical-align: text-top;
    padding: 4px 3px 3px 3px; /* white-space: nowrap;   @@@ RR - v1.4 - commented out to allow read only text on the profile page to wrap  */
}
.AlignLeft
{
    text-align: left;
}
.AlignRight
{
    text-align: right;
}
.AlignCenter
{
    text-align: center;
}
.AlignTop
{
    vertical-align: top;
}
.AlignBottom
{
    vertical-align: bottom;
}
.AlignMiddle
{
    vertical-align: middle;
}
.FontWeightNormal
{
    font-weight: normal;
}
.CheckBoxAlignLeft
{
    position: relative;
    left: -4px;
    margin: 0;
    padding: 0;
}
.CheckBoxAlign
{
    margin: 0;
    padding: 0;
}
.MultiSelectGrid_CheckBox
{
    margin: 0;
    padding: 0;
    position: relative;
    top: -1px;
}
.NoWrap
{
    white-space: nowrap;
}
.KnectButton
{
    font-size: xx-small;
    width: 100px;
    font-family: Verdana;
    font-weight: 700;
    text-align: center;
    background-color: #e0e0fa;
}
.ActionButton
{
    width: 130px;
    margin: 0 4px 0 4px;
}
.TabButton
{
    font-family: Verdana;
    font-size: xx-small;
    font-weight: bold;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    background-color: #d0d0ea;
}
.TabButtonSelected
{
    font-family: Verdana;
    font-size: xx-small;
    font-weight: bold;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    background-color: #f7f7f7;
    border-bottom-width: 0;
    color: #666666;
}
.TreeViewNode
{
    font-family: Verdana, Arial, sans-serif;
    font-size: xx-small;
    padding: 0 2px 0 2px;
    border-width: 1px;
}
.TreeViewNodeSelected
{
    border: 1px dotted #666;
    background-color: #FFFF9B;
}
.TreeViewDisabledNode
{
    background-color: #e0e0e0;
    color: #808080;
    border: 1px solid #c0c0c0;
}
.RadEContent, BODY.RadEContent, .RadEContentBordered, BODY.RadEContentBordered
{
    font-family: Arial;
    font-size: 12pt;
}
.ProfileValidationError
{
    font-family: verdana, arial;
    font-size: xx-small;
    font-weight: bold;
    color: #800000;
    visibility: visible;
    text-align: right;
    background-color: #b0c4de;
    border: solid #666;
    border-width: 0 1px 1px 0;
    vertical-align: text-top;
    padding: 4px 3px 3px 3px;
}

.ComplexListValidationError
{
    font-size: xx-small;
    font-weight: bold;
    font-family: Verdana, Arial;
    color: #800000;
    visibility: visible;
    text-align: right;
    background-color: #b0c4de;
    border: solid #666;
    border-width: 0 1px 1px 0;
    vertical-align: text-top;
    padding: 4px 3px 3px 3px;
}

.MSG
{
    border-style: none;
    border-width: 0px;
    table-layout: fixed;
}
.MSG tr td
{
    line-height: 80%;
}
.MSG tr td span
{
    position: relative;
    top: -1px;
}
.TermImg
{
    position: relative;
    top: 4px;
    border: 0;
}
.ProfileCommentHeader
{
    display: block;
    font-weight: bold;
    border: none;
    margin: 0 4px 0 0;
    padding: 0;
    white-space: normal;
    background-color: #fffbee;
    font-size: xx-small;
    font-family: Verdana, Arial;
    text-align: left;
    vertical-align: text-top;
}
.ProfileCommentBody
{
    display: block;
    margin: 0 4px 8px 8px;
    padding: 0;
    border: none;
    white-space: normal;
    background-color: #fffbee;
    font-size: xx-small;
    font-family: Verdana, Arial;
    text-align: left;
    vertical-align: text-top;
}
.DateControlTextBox
{
    width: 114px;
    height: 18px;
    padding-top: 0;
}
.DateControlImage
{
    height: 19px;
    width: 34px;
    border-width: 0px;
    cursor: pointer;
}
.Version
{
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-align: right;
    font-family: Tahoma, Verdana, Arial;
    font-size: x-small;
    font-style: italic;
    color: #666;
}
.ExternalTermCaptionCell
{
    font-size: xx-small;
    font-weight: normal;
    font-family: Verdana, Arial;
    visibility: visible;
    text-align: right;
    background-color: #b0c4de;
    border: solid #666;
    border-width: 2px 1px 1px 1px;
    vertical-align: text-top;
    padding: 2px 3px 2px 3px;
    margin: 0;
}
.ExternalTermControlPanel
{
    width: 100%;
    height: 1px;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #DCDCDC;
    font-size: xx-small;
    font-weight: normal;
    font-family: Verdana, Arial;
    vertical-align: text-top;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ExternalTermControlCell
{
    margin: 0;
    padding: 0;
    border: solid #666;
    border-width: 2px 1px 1px 0;
    vertical-align: text-top;
}
.ExternalTermTableRow
{
    padding: 0 0 3px 0;
}
.tooltip
{
    border: 1px solid #666;
    background-color: #EEEEC0;
    font-family: Tahoma, Arial;
    font-size: xx-small;
    font-weight: normal;
    color: #000;
}
.KnectButtonWide
{
    font-size: xx-small;
    width: 150px;
    font-family: Verdana;
    font-weight: 700;
    text-align: center;
    background-color: #e0e0fa;
}
.listViewTable
{
    background-color: White;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    border-style: groove;
    width: 100%;
    height: 94%;
    position: static;
}

.hideCheck
{
    margin-left: 20px;
}

.highlight
{
    background-color: #000066;
    color: White;
}
.checkedbox
{
    margin-left: -20px;
    }