<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <appSettings>
    <!-- Relative path to the RadControls folder -->
    <add key="Telerik.WebControls.RadControlsDir" value="~/RadControls/"/>
    <!-- Absolute path to the PDF Web Service -->
    <add key="LOCAL.Kindred.Knect.ITAT.Web.PDFService.Service" value="http://pdf-t1.knect.com/pdfservice/service.asmx"/>
    <add key="T1.Kindred.Knect.ITAT.Web.PDFService.Service" value="http://pdf-t1.knect.com/pdfservice/service.asmx"/>
    <add key="STAGE.Kindred.Knect.ITAT.Web.PDFService.Service" value="http://pdf-qa.knect.com/pdfservice/service.asmx"/>
    <add key="PROD.Kindred.Knect.ITAT.Web.PDFService.Service" value="http://pdf.knect.com/pdfservice/service.asmx"/>
    <!-- Absolute path to the KDMSFileSystem Web Service -->
    <add key="LOCAL.Kindred.Knect.ITAT.Utility.KDMS.Service" value="http://kdmsfs-t1.knect.com/KDMSFileSystem/service.asmx"/>
    <add key="T1.Kindred.Knect.ITAT.Utility.KDMS.Service" value="http://kdmsfs-t1.knect.com/KDMSFileSystem/service.asmx"/>
    <add key="STAGE.Kindred.Knect.ITAT.Utility.KDMS.Service" value="http://kdmsfs-qa.knect.com/KDMSFileSystem/service.asmx"/>
    <add key="PROD.Kindred.Knect.ITAT.Utility.KDMS.Service" value="http://kdmsfs.knect.com/KDMSFileSystem/service.asmx"/>
    <!-- Web server root for the ITAT application; used to prefix the path to the application in system-generated links -->
    <add key="PROD.ApplicationWebServer" value="http://enterprise.knect.com/"/>
    <add key="STAGE.ApplicationWebServer" value="http://enterprise.qa.knect.com/"/>
    <add key="T1.ApplicationWebServer" value="http://enterprise.dev.knect.com/"/>
    <add key="LOCAL.ApplicationWebServer" value="http://localhost/"/>
    <!-- Web server root for the ExternalTerm web service(s) -->
    <add key="PROD.ExternalTermWebServer" value="http://services.knect.com/"/>
    <add key="STAGE.ExternalTermWebServer" value="http://services.qa.knect.com/"/>
    <add key="T1.ExternalTermWebServer" value="http://services.dev.knect.com/"/>
    <add key="LOCAL.ExternalTermWebServer" value="http://localhost/"/>
  </appSettings>
  <connectionStrings/>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="False"/>
    </defaultProxy>
  </system.net>
  <system.web>
    <httpRuntime maxRequestLength="32768"/>
    <compilation debug="false">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="true" localOnly="false" pageOutput="false" requestLimit=" 30" traceMode="SortByTime" mostRecent="true"/>
    <identity impersonate="true" userName="registry:HKLM\SOFTWARE\CorporateApps\ITAT\identity\ASPNET_SETREG,userName" password="registry:HKLM\SOFTWARE\CorporateApps\ITAT\identity\ASPNET_SETREG,password"/>
    <sessionState mode="Off"/>
    <pages enableEventValidation="false" validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="kh" tagName="templateheader" src="~/Controls/TemplateHeader.ascx"/>
        <add tagPrefix="kh" tagName="manageditemheader" src="~/Controls/ManagedItemHeader.ascx"/>
        <add tagPrefix="kh" tagName="standardheader" src="~/Controls/StandardHeader.ascx"/>
        <add tagPrefix="kh" tagName="fileupload" src="~/Controls/FileUpload.ascx"/>
        <add tagPrefix="kh" tagName="actionbuttonpanel" src="~/Controls/ActionButtonControl.ascx"/>
        <add tagPrefix="kh" tagName="vos" src="~/Controls/ValidateOnSave.ascx"/>
        <add tagPrefix="kh" tagName="roleselector" src="~/Controls/RoleSelector.ascx"/>
        <add tagPrefix="kh" namespace="Kindred.Knect.ITAT.Web" assembly="Knect.ITAT.Web"/>
        <add tagPrefix="kh" namespace="Kindred.Common.Controls" assembly="Kindred.Common.Net35"/>
        <add tagPrefix="radE" namespace="Telerik.WebControls" assembly="RadEditor.Net2"/>
        <add tagPrefix="kh" tagName="GridMoveRows" src="~/Controls/GridMoveRows.ascx"/>
      </controls>
    </pages>
    <webServices>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </webServices>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <microsoft.web.services3>
    <messaging>
      <transports>
        <add scheme="soap.tcp">
          <noDelay enabled="true"/>
        </add>
      </transports>
      <maxMessageLength value="-1"/>
      <mtom clientMode="On"/>
    </messaging>
  </microsoft.web.services3>
</configuration>