<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BackupFolder" value="C:\backups"/>
    <add key="IISLogFolder" value="C:\inetpub\logs\LogFiles"/>
    <add key="CleanupApps" value="CGBC:cgbc|CGCA:cgca|TurleyRichards:trich|ElusiveSoftware:gkes"/>
  </appSettings>
</configuration>