<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kindred.Knect.ITAT.Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Kindred.Knect.ITAT.Utility.Properties.Settings>
            <setting name="Utility_ItatExternalTerm_ItatExternalTerm" serializeAs="String">
                <value>http://knectdev/FacilityMaster/Services/ItatExternalTerm.asmx</value>
            </setting>
            <setting name="Knect_ITAT_Utility_KDMS_Service" serializeAs="String">
                <value>http://mdwpr220/MtomKdmsWebservice/service.asmx</value>
            </setting>
        </Kindred.Knect.ITAT.Utility.Properties.Settings>
        <Utility.Properties.Settings>
            <setting name="Utility_ItatExternalTerm_ItatExternalTerm" serializeAs="String">
                <value>http://knectdev/FacilityMaster/Services/ItatExternalTerm.asmx</value>
            </setting>
        </Utility.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>